{% extends 'base.html.twig' %}

{% block title %}New Patient{% endblock %}

{% block body %}
    <h1>Créer nouveau Patient</h1>

    {{ include('patient/_form.html.twig') }}

    <a href="{{ path('patient_index') }}">Retour a la liste</a>
{% endblock %}
